BODY{
 background:rgb(221, 194, 154) ; 
position: relative;
font-family: 'Lobster', cursive;
background-size: 100%;

}



.happy{
       color: #5b90a9; 
       font-size: 60px;
       
       text-shadow: 2px 5px 5px  rgb(0, 0, 0);
       padding-left: 5%;
} 

.happy:hover {
        opacity:0.9;
       color: rgb(225, 0, 255);
       transform: scale(1.1);
       transition: transform.1s;
   
}
.carousel-inner{

       padding-left:30px;
       padding-right:30px;
       padding-bottom: 50%;
}
.photo{

       font-size: 50px;
       color: blue;
       padding-left: 30%;
       
}

h5{
       color: aqua;
       font-size:40px;
}

P{
       color: rgb(0, 0, 0);
       font-size:40px;       
}

.image{
       padding-top: 0%;
       width: 10px;
       height: 20px;
}
