BODY{
/* background-color:rgb(235, 224, 224) ; */
position: relative;
font-family: 'Lobster', cursive;
background-size: 100%;

}



.happy{
       color: rgb(219, 17, 17); 
       font-size: 50px;
       text-shadow: 2px 5px 5px  rgb(10, 202, 228);
       padding-left: 5%;
} 

.happy:hover {
        opacity:0.9;
       color: rgb(225, 0, 255);
       transform: scale(1.1);
       transition: transform.1s;
   
}
.carousel-inner{

       padding-left:30px;
       padding-right:30px;
       padding-bottom: 50%;
}